div.body-wrapper {
	padding: 10px;
	margin: 0 auto;
	width: 960px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.bibtex {
	border: 1px dashed black;
	font-family: monospace;
	font-size: 85%;
	padding: 5px;
	vertical-align: top;
}

.header
{
	background-color: #30B040;
	border-radius: 5px;
	font-weight: bold;
	padding: 5px;
}

p.textblock
{
	padding-left: 3px;
	padding-right: 3px;
}

table
{
	font-size: 11pt;
}
