<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <style>
      a {
        color: #08C;
        text-decoration: none;
      }

      body {
        color: #333;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 10px;
      }
      
      .icon {
        vertical-align: middle;
      }
      
      .iconContainer {
        display: inline-block;
        line-height: 40px;
        text-align: center;
        width: 40px;
      }
    </style>
    <script type="text/javascript">
      function goto(url) {
        document.location = url;
      }
    </script>
  </head>
  <body>
    <h2>Ian Rose's Family Albums</h2>
    {% for album in albums %}
    <span class="iconContainer">
      {% if album.icon %}<img src="{{album.icon}}" class="icon" style="height: {{album.icon_height}}" title="{{album.icon_alt}}">{% endif %}
    </span>
    <!-- there is something weird with my DNS setup, so raw links to dropbox albums don't work -->
    <a href="javascript:goto('{{album.url}}');">{{album.name}}</a><br>
    {% endfor %}
  </body>
</html>
{% endautoescape %}
